# Dependencies
node_modules/
.vscode-test/

# Build output
bin/
build/
dist/
out/
obj/

# Environment files
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS files
.DS_Store
Thumbs.db
